---

---

<div class="lg:hidden flex items-center justify-between mb-8">
  <div class="flex items-center gap-3">
    <div
      class="h-10 w-10 flex items-center justify-center bg-primary rounded-full text-white"
    >
      <span class="material-symbols-outlined">bolt</span>
    </div>
    <span class="font-bold text-lg tracking-tight">TajemnikTV</span>
  </div>
  <button class="text-white p-2" aria-label="Menu">
    <span class="material-symbols-outlined text-3xl">menu</span>
  </button>
</div>
